<div class="headerBar" appStickySide>
    <span class="headerItem" (click)="scrollToTargetAdjusted('about')">About</span>
    <span class="headerItem" (click)="scrollToTargetAdjusted('projects')">Projects</span>
    <span class="headerItem" (click)="scrollToTargetAdjusted('history')">History</span>
    <a class="headerItem" src="../../assets/pdfs/Resume - Thompson DeLair-Dobrovolny.pdf">Resume</a>
    <span class="headerItem" (click)="scrollToTargetAdjusted('contact')">Contact</span>
    <div class="headerImageHolder">
        <a href="https://github.com/ThompsonDelair">
            <img class="headerImage" src="../../assets/images/icons8-github-48.png" alt="">  
        </a>
    </div>

      
</div>
