<div>    
	<div>
		<h1>Education</h1>
		<hr>
		<div>
			<h2>Computer Systems Technology 2018 - 2022</h2>
            <br>
			BCIT<br>
			Bachelor of Technology<br>
			BCIT Computer Systems Award in Technical Programming<br>
			OOP, Computer Architecture, Games Architecture, Advanced Algorithms, Project Management<br>
        </div>
		<div>			
			<h2>Game Design 2013 - 2014</h2><br>
			Vancouver Film School<br>
			Diploma<br>
			Covered game design process from pitching, prototyping, creating comprehensive game design documents, creating code and art assets, and evaluated projects post-mortem<br/>
        </div>	
		<p>	
			Foundation Visual Art & Design 2012 - 2013<br/>
			Vancouver Film School<br>
			Diploma<br/>			
		</p>
	</div>
	<div>
	    <h1>Software Work Experience</h1>
		<hr>
		<div>
			<h2>Pixelific Games 2019</h2><br>
			Unity Developer<br>
            Worked with a team to implement multiplayer using Photon<br>
			Overhauled prototype code to allow multiplayer and animation
        </div>
	</div>    
</div>