<!-- <form action="https://drive.google.com/file/d/1co4b7Fp7YwXLj8kRPv_u2Nu7vfMuvdwi/view">
    See my full resume<input type="submit" value="here" />
</form> -->
<br>
<div class="historyContent" id="history">    
	<div class="historyItem">
		<h4>Education</h4>
		<hr>	
		<div>
			<h5>Bachelor of Technology Computer Systems Technology</h5>
			British Columbia Institute of Technology 2018 - 2022<br>
			BCIT Computer Systems Award in Technical Programming<br>
			OOP, Computer Architecture, Games Architecture, Advanced Algorithms, Project Management<br>
			<br>
        </div>
		<div>	
			<h5>Diploma, Game Design</h5>
			Vancouver Film School 2013 - 2014<br>	
			Covered game design process from pitching, prototyping, creating comprehensive game design documents, creating code and art assets, and evaluated projects post-mortem<br/>
			<br>
		</div>	
		<div>
			<h5>Diploma, Foundation Visual Art & Design</h5>
			Vancouver Film School 2012 - 2013<br/>
		</div>
	</div>
	<div class="historyItem">
	    <h4>Work Experience</h4>
		<hr>
		<div>
			<h5>Pixelific Games 2019</h5><br>
			Unity Developer<br>
            Worked with a team to implement multiplayer using Photon<br>
			Overhauled prototype code to allow multiplayer and animation<br>
        </div>
	</div>    
</div>
<div id="contact">
<h5>Contact info</h5>
<div class="contactContainer">
	<div class="contactItem">
		messagethompson@gmail.com
	</div>
	<div class="contactItem">
		<a href="https://www.linkedin.com/in/thompson-delair-dobrovolny/">
			<img class="contactImg" src="../../assets/images/icons8-linkedin-48_dark.png" alt="">
		</a>
	</div>
</div>
</div>