<div>
    <div>
        <p>
            Thompson DeLair-Dobrovolny
        </p>
        <p>
            messagethompson@gmail.com
        </p>
    </div>
    <h4>About</h4>
    <p>
        As a recent BCIT Computer Systems Technology graduate I am eager to begin my career in the software industry. 
        I've acquired experience in object-oriented languages like C# and Java from both a formal education and my own passion for developing software projects.
    </p>
    <br>
    <h4>Skills</h4>
    <ul>
        <li>
            C, C++, C#, Java, Python
        </li>
        <li>
            Unity, Unity DOTS, Unity Editor tool creation, Photon for Unity, Godot
        </li>
        <li>
            Multithreading, OpenGl, shaders, collision, pathfinding, behavior trees, ECS
        </li>
        <li>
            AStar, MiniMax, triangle mesh generation, K-D Tree, Hash Tables
        </li>
    </ul>
</div>